* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main-section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-section-first {
  background-image: url("../img/Fondo1.jpg");
  position: relative;
}

.main-section-second {
  background-image: url("../img/Fondo2.png");
}
.main-section-third {
  background-image: url("../img/Fondo3.jpg");
}

.main-title {
  color: white;
  background-color: rgba(59, 38, 193, 0.2);
  width: 500px;
  height: 150px;
  font-size: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 30%;
  position: absolute;
  top: 35%;
  left: 35%;
}
